 body {
      margin: 0;
      font-family: Arial, sans-serif;
      height: 100vh;
     display: flex;
    }
.left {
  background-color: rgb(255, 255, 255);
  flex: 0.7;
  
  display: flex;
  color: #4CAF50;
  
  flex-direction: column;      /* stack items vertically */
  justify-content: center;     /* center vertically */
  align-items: center;         /* center horizontally */

}

.right
{
background: url(background.png);
flex: 0.8;
 display: flex;
  flex-direction: column;      /* stack items vertically */
  justify-content: center;     /* center vertically */
  align-items: center;  
}

#Signintab
{
        border: 60px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: rgb(255, 255, 255, 0.682);
        padding: 15px 20px;
        color: rgb(0, 0, 0);
        border: none;
        font-size: 20px;
        border-radius: 8px;
        cursor: pointer; 
}

#Signuptab
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(255, 255, 255, 0.682);
    padding: 12px 14px;
    border: none;
    color: black;
    font-size: 23px;
    border-radius: 8px;
    cursor: pointer;
}


input[type="email"],
input[type="password"] {
    width: 250px;
    padding: 12px 35px; /* space for icon */
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50; /* same green as button */
    color: white; /* text inside */
    font-size: 12px;
    outline: none; /* remove blue outline */
}

/* Change placeholder text color */
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input[type="email"] {
    background-image: url('email.png'); /* place your email icon in project folder */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

input[type="password"] {
    background-image: url('password.png'); /* place your lock icon in project folder */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
#forgot
{
    cursor: pointer;
   
  color: #000;
}
input[type="email"]::placeholder,
input[type="password"]::placeholder  {
    color: rgba(255, 255, 255, 0.8);
}

#logos
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;
    gap: 20px;
    margin-top: 1px;
}

#logos img
{
    width: 35px;
    height: auto;
}


